In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [3]:
data = pd.read_csv('unit4.csv')
display(data.shape)
data.head()

(90569, 28)

,STATE,PVASTATE,DOB,MDMAUD,RECP3,GENDER,DOMAIN,INCOME,HOMEOWNR,HV1,...,VETERANS,NUMPROM,CARDPROM,CARDPM12,NUMPRM12,MAXADATE,RFA_2,NGIFTALL,TIMELAG,AVGGIFT
0,IL,,3712,XXXX,,F,T2,NaN,,479,...,,74,27,6,14,9702,L4E,31,4.0,7.741935
1,CA,,5202,XXXX,,M,S1,6.0,H,5468,...,,32,12,6,13,9702,L2G,3,18.0,15.666667
2,NC,,0,XXXX,,M,R2,3.0,U,497,...,,63,26,6,14,9702,L4E,27,12.0,7.481481
3,CA,,2801,XXXX,,F,R2,1.0,U,1000,...,,66,27,6,14,9702,L4E,16,9.0,6.812500
4,FL,,2001,XXXX,X,F,S2,3.0,H,576,...,,113,43,10,25,9702,L2F,37,14.0,6.864865

In [28]:
data.GENDER.value_counts(dropna=False)

F    48668
M    37132
      2795
U     1635
J      336
C        2
A        1
Name: GENDER, dtype: int64

In [21]:
data.HOMEOWNR.value_counts(dropna=False)

H    49646
     21051
U    19872
Name: HOMEOWNR, dtype: int64

In [12]:
data[['HOMEOWNR']].isnull().sum()

HOMEOWNR    0
dtype: int64

In [15]:
data[['HOMEOWNR']].head()

  HOMEOWNR
0
1        H
2        U
3        U
4        H

In [36]:
data.HOMEOWNR.value_counts(dropna=False)

H    49646
     21051
U    19872
Name: HOMEOWNR, dtype: int64

In [43]:
data["HOMEOWNR"]=np.where(data["HOMEOWNR"].str.contains(' '),"N",data["HOMEOWNR"])
data.HOMEOWNR.value_counts(dropna=False)

H    49646
N    21051
U    19872
Name: HOMEOWNR, dtype: int64

In [37]:
data.HOMEOWNR.value_counts(dropna=False).index

Index(['H', ' ', 'U'], dtype='object')

In [29]:
data.MDMAUD.value_counts(dropna=False)

XXXX    90290
C1CM       59
L1CM       44
I1CM       34
D2CM       27
C2CM       23
D1CM       19
L2CM       14
C1LM        8
L1LM        8
I2CM        7
D5CM        5
D5MM        5
D2MM        4
I1LM        3
D5TM        3
C2MM        3
C5CM        3
C2LM        2
C1MM        1
I2MM        1
I5CM        1
I5MM        1
C5MM        1
L1MM        1
C5TM        1
L2TM        1
Name: MDMAUD, dtype: int64

In [31]:
data["MDMAUD"]=np.where(data["MDMAUD"]!= "XXXX", "other", "XXXX")

In [33]:
data["MDMAUD"].value_counts(dropna=False)

XXXX     90290
other      279
Name: MDMAUD, dtype: int64